## dependencies
/node_modules
yarn.lock

## secrets
.env

## developement
todo

##build
/dist
/www

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
